APP_PORT=

DB_HOST=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=
DB_DATABASE=

SWAGGER_USER=
SWAGGER_PASSWORD=

DEFAULT_USER_ID=3adcd1d1-fcaf-4495-9e54-0a8bd0ad09f2
USER_TYPE=user
DEFAULT_EMAIL=default@gmail.com
DEFAULT_NAME=default
